*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container{
    width: 40vw;
    height: 50vh;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    width: 40vw;
    height: calc(50vh  / 5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 9px;
    margin: 9px;
}

.input-container input{
    width: 50%;
    padding: 5px;
}
.input-container label{
    font-size: 1.5em;
    margin-right: 3.7em;
    margin-bottom: .4em;
}

.submit-btn{
    width: 50%;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: rgba(0, 128, 0, .6);
    font-size: 1.4em;
}

.submit-btn:hover{ background-color: rgba(0, 128, 0, 1);}

.input-container input:active{
    border: none;
}
